<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Big8_MAIN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Big8_MAIN.Properties.Settings.PlayersDBConnection"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\PlayersDB.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Big8_MAIN.Properties.Settings.SeasonsDBConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\SeasonsDB.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Big8_MAIN.Properties.Settings.AccountingConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Accounting.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Big8_MAIN.Properties.Settings.TransactionsDBConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\TransactionsDB.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Big8_MAIN.Properties.Settings>
            <setting name="CheckBox01" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox02" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox03" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox04" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox05" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox06" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox07" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox08" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox09" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox11" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox12" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox13" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox14" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox15" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox16" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox17" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox18" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox19" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox20" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox21" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox22" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox23" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox24" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox25" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox26" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox27" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox28" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox29" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox30" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox31" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox32" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox33" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox34" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox35" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox36" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox37" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox38" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox39" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox40" serializeAs="String">
                <value>False</value>
            </setting>
        </Big8_MAIN.Properties.Settings>
    </userSettings>
</configuration>